.header {
  height: 56px;
  line-height: 56px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-block: 0;
  padding-inline: 8px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;

  justify-content: space-between;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.banner {
  width: 100px;
}

.left {
  display: flex;

  >a {
    margin-right: 10px;
    color: #333;

    &:hover {
      color: #1677ff;
    }
  }
}